.radioBtn input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  background: var(--radio-fill, #ddd);
  transition: all 0.2s ease;

  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
}

.radioBtn label {
  color: var(--white-25);
  cursor: pointer;
}

.radioBtn input[type="radio"]:checked {
  outline: 3px solid #71b3ff;
  outline-offset: 2px;
}

.radioBtn input[type="radio"]:checked + label {
  color: var(--black-75);
}

.radioInput input {
  display: flex;
  gap: 0.5rem;
  border-radius: 2rem;
}

.radioBtn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
