.navbar {
  width: 80%;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-radius: 5.0625rem;
  background: #f3f3f3;
}

.logo {
  font-family: Inter, sans-serif;
  font-size: 1.88325rem;
  font-style: italic;
  text-decoration: none;
  color: #000;
}

.logo-light {
  font-weight: 400;
}

.logo-bold {
  font-weight: 700;
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

nav a:hover {
  text-decoration: underline;
}

.cart-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: none;
  background: #a3a3a3;
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
