.navbar {
  display: flex;
  width: 100%;
  max-width: 100%;
  min-width: 60rem;
  height: 5.5rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 0 2rem;
  border-radius: 5.0625rem;
  background: var(--white-100);
}

.logo {
  font-family: Inter, sans-serif;
  font-size: 1.88325rem;
  font-style: italic;
  text-decoration: none;
  color: var(--black-100);
}

.logo-light {
  font-weight: 400;
}

.logo-bold {
  font-weight: 700;
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--black-100);
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

nav a:hover {
  opacity: 60%;
}
