.radioContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  padding-right: 20%;
  border-radius: 1rem;
  border: 3px solid var(--white-50);
  background: var(--white-75);
}

.radioGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 1rem;
}

.radioBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radioHeader {
  font-size: 1.125rem;
}
