@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(180deg, #9d9bbd 0%, #f3f3f3 78.37%);
  font-family: "Inter", sans-serif;
  font-style: normal;
  justify-content: center;
  padding: 2rem;
}
